@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .personal-information {
    @apply opacity-100 transition duration-200;
  }

  .hand-tilt-shaking {
    animation: tilt-shaking 0.4s infinite;
  }

  .heart {
    -webkit-animation: animateHeart 2.5s infinite;
    animation: animateHeart 2.5s infinite;
  }
}

@layer utilities {
  .personal-information-clicked {
    @apply opacity-20 blur-sm;
  }

  .less-is-more-clicked {
    @apply opacity-100 blur-none z-10 transition duration-200 -translate-y-1;
  }
}

@keyframes animateHeart {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  5% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  10% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  15% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
